html { scroll-behavior: smooth; }
#header2{ margin-top: 56px; }
#header3{ display: none;}
.jumbotron{ text-align: center; }

/* @media (max-width 768px) {
  .jumbotron{ padding-top: 30%; }
} */

@media (max-width: 990px) {
  #header1{ display: none;}
  #header2{ display: none;}
  #header3{ display: flex;}
  .col-sm-4 {
    margin-bottom: 5% !important;
  }
}
@media (max-width: 768px) and (min-width: 425px){
  .col-sm-4{
    flex: 100% !important;
    max-width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }
}
